.custom_buttom.btn-primary {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
.custom_buttom.btn-primary:hover, .custom_buttom.btn-primary:active, .custom_buttom.btn-secondary:hover{
   background: linear-gradient(to right,  #dd3675, #b44593, #ee7724, #d8363a)
}
 
.custom_buttom.btn-secondary {
    /* fallback for old browsers */
    background: #ee7724;    
}
